header {
	width: 100%;
	height: 380px;
	background: url(../../res/giphy.gif);
	background-position: center;

}

main {
	float: left;
	width: 60%;
}

aside {
	margin: 40px 10px;
	width: 18%;
	height: 380px;
}

#right {
	background: url(../../res/code-coding.gif);
	float: left;
}

#left {
	position: relative;
	float: left;
}

#left video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 0;
}

