<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.me }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" href="/assets/styles/default-layout.css"> 
{% include head-custom.html %}
 {% seo %}
 </head>
  <body>
<audio id="back_music" loop>
	<source src="../sad_back" type="audio/mpeg"/>
</audio> 
<script>
window.onload = function() {
	var audio = document.getElementById("back_music");
	audio.volume = 0.07;
	audio.play();
}
</script> 
  <header>
        <div class="container">
          <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title }}</h1>
          </a>
          <h2>{{ site.description }}</h2>
        </div>
    </header>
    <main>
     <div class="container">
       <section id="main_content">
         {{ content }}
       </section>
       <aside class="container">
       </aside>
     </div>
    </main>
  </body>
</html>

